<a href="#"><button> Back to Main Menu </button></a>


<form>
    <fieldset>
        <legend>You are continuing story # <%= storyId %></legend>
            
             <% for(var i = 0; i < storyLength; i++) {  %>
                
                <div class="row">
                   <% if(i === lastLine) {  %>
                        <div class="small-1 columns">
                            <label class="inline"><%= i + 1 %>.</label>
                        </div>
                        <div class="small-11 columns">
                            <input class="newLine" type="text" placeholder="Go crazy!" />
                        </div>
                    <% } else if(i === lastLine - 1) { %>
                        <div class="small-1 columns">
                            <label class="inline"><%= i + 1 %>.</label>   
                        </div>
                        <div class="small-11 columns">
                            <input class="previousLine" type="text" disabled placeholder=<%= previousLine %>/>   
                        </div>
                    <% } else { %>
                            <div class="small-1 columns">
                                <label class="inline"><%= i %>.</label>
                            </div>
                            <div class="small-11 columns">
                                <input type="text" disabled/>
                            </div>
                    <% } %>
                </div>
                    
            <% } %>

                
    </fieldset>
</form>        
                


                        